/* =========================================================
    ESTILOS ESPECIFICOS PARA EL PANEL ADMINISTRATIVO 
  ========================================================= */

body {
    background-color: var(--blanco-claro-color);
}

/* Header del Panel ( Barra Superior Del Admin ) */
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--segundo-color);
    padding: 10px;
    border-radius: 8px;
    color: var(--blanco-claro-color);
}

.panel-header h1 {
    color:  var(--primer-color);
    font-size: 1.8rem;
}


/* Sesion Principal del Panel */
.panel-main {
    background-color: white;
    margin-top: 180px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

/* Tabla de Reservas Con SCROLL HORIZONTAL */
.tabla-reservas {
    margin-top: 30px;
    overflow-x: auto; /* Permite Scroll Horizontal en MOVIL ( CELULARES ). */
}


/* --------------------------------------------------------------------------------------------------------- 
  <table> es el contenedor principal de una tabla en HTML. Dentro de ella se colocan otras etiquetas como:
------------------------------------------------------------------------------------------------------------
    - <thead> → encabezado.
    - <tbody> → cuerpo.
    - <tfoot> → pie de tabla.
    - <tr> → filas.
    - <th> → celdas de encabezado.
    - <td> → celdas de datos. 
-----------------------------------------------------------------------------------------------------------*/
table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho disponible del contenedor padre */
    border-collapse: collapse; /* Combina los bordes de las celdas adyacentes en uno solo para evitar espacios entre ellos */
    font-size: 0.95rem; /* Define el tamaño del texto dentro de la tabla, ligeramente menor al tamaño base del documento */
}

/*  <thead> → Encabezado (donde van los títulos de las columnas */
thead {
    background-color: var(--segundo-color);
    color: var(--blanco-claro-color);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--gris-claro-color);
}

tbody tr:hover {
    background-color: #f3f3f3;
}

/* Boton Eliminar Desde el DOM */
.btn-eliminar {
    background-color: #e63946;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-eliminar:hover {
    background-color: #c71f2d;
}

/* RESPONSIVIDAD DEL PANEL CUANDO ALCANZA ESTE RANGO DE PANTALLA */
@media(max-width: 768px) {
    .panel-header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    table {
        font-size: 0.85rem;
    }
}